.card{
    background: #000;
    color: #FFF;
    width: 100%;
    height: 100%;
    padding: 0 2em 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    overflow: hidden;

    .card_head{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .card_head_image{
            max-width: 220px;
            width: 100%;
        }
    }

    .card_body{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

}

/* Extra extra small device*/
@media only screen and (max-width: 480px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Browser prefer dark color scheme */
@media(prefers-color-scheme: dark) {
    .card{
        background: #FFF;
        color: #000;
    }
}

/* Browser prefer light color scheme */
@media(prefers-color-scheme: light) {}