.utility{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

/* Extra extra small device*/
@media only screen and (max-width: 480px) {
    .utility {
        height: max-content;
        flex-direction: column-reverse;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Browser prefer dark color scheme */
@media(prefers-color-scheme: dark) {}

/* Browser prefer light color scheme */
@media(prefers-color-scheme: light) {}