@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* Theme */
  --color-white: snow;
  --color-black: #000000;
  --color-primary-200: var(--color-white);
  --color-primary-450: rgba(4, 1, 28);
  --color-primary-900: #000000;
  --color-accent-200: #28A4DF;
  --color-accent-400: #0F88D8;
  --color-accent-800: #0F44D8;
  --color-neutral-200: var(--color-white);
  --color-neutral-450: #4D4D4D;
  --color-neutral-900: var(--color-black);
  --background-neutral-200: var(--color-neutral-200);
  --background-neutral-450: var(--color-neutral-450);
  --background-neutral-900: var(--color-neutral-900);
  --background-primary-200: var(--color-primary-200);
  --background-primary-450: var(--color-primary-450);
  --background-primary-900: var(--color-primary-900);
  --background-accent-200: var(--color-accent-200);
  --background-accent-400: var(--color-accent-400);
  --background-accent-800: var(--color-accent-800);
  --text-primary-200: var(--color-neutral-200);
  --text-primary-450: var(--color-neutral-450);
  --text-primary-900: var(--color-neutral-900);
  --text-link-white: var(--color-primary-200);
  --text-link-black: var(--color-primary-900);
  --text-link-200: var(--color-accent-200);
  --text-link-400: var(--color-accent-400);
  --text-link-800: var(--color-accent-800);
  --cta-text-primary-200: var(--color-neutral-200);
  --cta-text-primary-400: var(--color-accent-400);
  --cta-text-primary-800: var(--color-accent-800);
  --body-background: var(--color-primary-200);
  --body-dark-background: url("../img/drawable/infinity-background.jpg");
  --cta-background: var(--background-accent-200);
  --cta-hover-background: var(--background-accent-400);
  --cta-active-background: var(--background-accent-800);
  --nav-background: transparent;
  --nav-scrolled-background: var(--nav-background);
  /* Font & Typography */
  --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: Consolas, Menlo, SFMono-Regular, Monaco, "Liberation Mono", "Courier New", monospace;
  --font-family-primary: var(--font-family-sans-serif);
  --font-family-body: var(--font-family-monospace);
  --font-family-heading: var(--font-family-sans-serif);
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --font-size-200: 0.8125rem;
  --font-size-400: 0.875rem;
  --font-size-450: 1rem;
  --font-size-600: 1.875rem;
  --font-size-700: 2.5rem;
  --font-size-800: 3.5rem;
  --font-size-body: var(--font-size-500);
  --font-size-nav: var(--font-size-500);
  --font-size-primary-heading: var(--font-size-700);
  --font-size-secondary-heading: var(--font-size-600);
  --font-size-button: var(--font-size-200);
}

@media (min-width: 50rem) {
  :root {
    --font-size-body: var(--font-size-450);
    --font-size-nav: var(--font-size-400);
    --font-size-primary-heading: var(--font-size-800);
    --font-size-secondary-heading: var(--font-size-700);
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "proxima-nova";
  src: url("/assets/font/Proxima-Nova-Regular.woff") format("woff");
}
/* Utility Classes */
.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fw-semibold {
  font-weight: var(--font-weight-semibold);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}

.fs-primary-heading {
  font-size: var(--font-size-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--font-size-secondary-heading);
}

.fs-200 {
  font-size: var(--font-size-200);
}

.fs-400 {
  font-size: var(--font-size-400);
}

.fs-500 {
  font-size: var(--font-size-500);
}

.fs-600 {
  font-size: var(--font-size-600);
}

.text-primary-400 {
  color: var(--color-primary-400);
}

.text-accent-100 {
  color: var(--color-accent-100);
}

.text-accent-400 {
  color: var(--color-accent-400);
}

.text-neutral-100 {
  color: var(--color-neutral-100);
}

.text-neutral-900 {
  color: var(--color-neutral-900);
}

.background-primary-400 {
  background-color: var(--color-primary-400);
}

.background-accent-100 {
  background-color: var(--color-accent-100);
}

.background-accent-400 {
  background-color: var(--color-accent-400);
}

.background-neutral-100 {
  background-color: var(--color-neutral-100);
}

.background-neutral-900 {
  background-color: var(--color-neutral-900);
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.card {
  --card-background: black;
  --card-font-color: snow;
  --card-body-font-color: inherit;
  --card-cta-link-font-color: lightblue;
  --card-cta-link-hover-font-color: blue;
  --card-cta-link-active-font-color: darkblue;
  --card-cta-button-background-color: transparent;
  --card-cta-button-hover-background-color: blue;
  --card-cta-button-active-background-color: darkblue;
  --card-cta-button-border-color: blue;
  --card-cta-button-font-color: blue;
  --card-cta-button-hover-font-color: white;
  --card-cta-button-active-font-color: lightblue;
  --card-header-max-height: 200px;
  background: var(--card-background);
  color: var(--card-font-color);
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  overflow: hidden;
}
.card .card-header {
  width: 100%;
  max-height: var(--card-header-max-height);
}
.card .card-header .card-header-image {
  max-height: var(--card-header-max-height);
  width: 100%;
}
.card .card-body {
  color: inherit;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.card .card-body .card-cta-link {
  color: var(--card-cta-link-font-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.card .card-body .card-cta-link:hover {
  color: var(--card-cta-link-hover-font-color);
}
.card .card-body .card-cta-link:active {
  color: var(--card-cta-link-active-font-color);
}
.card .card-body .card-cta-button {
  background: var(--card-cta-button-background-color);
  color: var(--card-cta-button-font-color);
  padding: 1em;
  border: 1px solid var(--card-cta-button-border-color);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.card .card-body .card-cta-button:hover {
  background: var(--card-cta-button-hover-background-color);
  color: var(--card-cta-button-hover-font-color);
}
.card .card-body .card-cta-button:active {
  background: var(--card-cta-button-active-background-color);
  color: var(--card-cta-button-active-font-color);
}

body.dark-theme .card {
  --dark-card-background: snow;
  --dark-card-font-color: black;
  --dark-card-body-font-color: inherit;
  --dark-card-cta-link-font-color: lightblue;
  --dark-card-cta-link-hover-font-color: blue;
  --dark-card-cta-link-active-font-color: darkblue;
  --dark-card-cta-button-background-color: transparent;
  --dark-card-cta-button-hover-background-color: blue;
  --dark-card-cta-button-active-background-color: darkblue;
  --dark-card-cta-button-border-color: blue;
  --dark-card-cta-button-font-color: blue;
  --dark-card-cta-button-hover-font-color: white;
  --dark-card-cta-button-active-font-color: lightblue;
  background: var(--dark-card-background);
  color: var(--dark-card-font-color);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
body.dark-theme .card .card-body {
  color: inherit;
}
body.dark-theme .card .card-body .card-cta-link {
  color: var(--dark-card-cta-link-font-color);
}
body.dark-theme .card .card-body .card-cta-link:hover {
  color: var(--dark-card-cta-link-hover-font-color);
}
body.dark-theme .card .card-body .card-cta-link:active {
  color: var(--dark-card-cta-link-active-font-color);
}
body.dark-theme .card .card-body .card-cta-button {
  background: var(--dark-card-cta-button-background-color);
  color: var(--dark-card-cta-button-font-color);
  border: 1px solid var(--dark-card-cta-button-border-color);
}
body.dark-theme .card .card-body .card-cta-button:hover {
  background: var(--dark-card-cta-button-hover-background-color);
  color: var(--dark-card-cta-button-hover-font-color);
}
body.dark-theme .card .card-body .card-cta-button:active {
  background: var(--dark-card-cta-button-active-background-color);
  color: var(--dark-card-cta-button-active-font-color);
}

.modal {
  padding: 1em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  animation: fadeout 8s ease-out forwards;
}

.modal:hover {
  animation-play-state: paused;
}

.modal.alert {
  background: #DD144D;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.page-wrapper {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  box-shadow: 4px 4px 1em 1em rgba(0, 150, 255, 0.4);
}

/* Extra extra small device*/
@media only screen and (max-width: 480px) {
  .page-wrapper {
    max-width: 480px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page-wrapper {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  .page-wrapper {
    max-width: 1140px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page-wrapper {
    max-width: 600px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page-wrapper {
    max-width: 800px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page-wrapper {
    max-width: 1140px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page-wrapper {
    max-width: 1600px;
  }
}
body.dark-theme {
  background: var(--body-dark-background);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-primary-200);
}
body.dark-theme header nav {
  background: var(--nav-background);
}
body.dark-theme header nav .brand .brand-link {
  background: linear-gradient(45deg, #04f, #0F4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
body.dark-theme header nav .nav-list .nav-list-item .nav-link {
  color: var(--text-link-white);
}
body.dark-theme header nav .nav-list .nav-list-item .nav-link:hover {
  color: var(--text-link-200);
}
body.dark-theme header nav .nav-list .nav-list-item .nav-link:active {
  color: var(--text-link-800);
}
body.dark-theme header nav .nav-list .nav-list-item .nav-link.active {
  color: var(--text-link-800);
}
body.dark-theme header nav .cta .cta-button {
  background: var(--cta-background);
  color: var(--cta-text-primary-200);
  padding: 0.25em 1em;
  border: 2px solid var(--cta-background);
  border-radius: 100vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
body.dark-theme header nav .cta .cta-button:hover {
  background-color: var(--cta-hover-background);
  border-color: var(--cta-hover-background);
}
body.dark-theme header nav .cta .cta-button:active {
  background-color: var(--cta-active-background);
  border-color: var(--cta-active-background);
}
body.dark-theme header nav .navbar-toggler span {
  background: var(--color-neutral-200);
}
body.dark-theme header nav.scrolled {
  background: var(--nav-scrolled-background);
}
body.dark-theme main {
  color: inherit;
}
body.dark-theme main section#hero .copytext .cta .cta-button {
  background: var(--cta-background);
  color: var(--cta-text-primary-100);
  border: 2px solid var(--cta-background);
}
body.dark-theme main section#hero .copytext .cta .cta-button:hover {
  background-color: var(--cta-hover-background);
}
body.dark-theme main section#hero .copytext .cta .cta-button:active {
  background-color: var(--cta-active-background);
}
body.dark-theme main section#hero .hero-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body.dark-theme main section#feature .section-body .feature-list .feature-list-item .feature-details {
  background: transparent;
  color: inherit;
}
body.dark-theme main section#feature .section-body .feature-list .feature-list-item .feature-details .feature-details-cta {
  color: var(--text-link-400);
}
body.dark-theme main section#feature .section-body .feature-list .feature-list-item .feature-details .feature-details-cta:hover {
  color: var(--text-link-800);
}
body.dark-theme main section#feature .section-body .feature-list .feature-list-item .feature-details .feature-details-cta:active {
  color: var(--text-link-200);
}
body.dark-theme main section#service .section-body .role .as-frontend p,
body.dark-theme main section#service .section-body .role .as-backend p {
  color: var(--text-primary-200);
}
body.dark-theme main section#service .section-body .service-container .service-list .service-list-item .card {
  color: var(--text-primary-200);
}
body.dark-theme main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link {
  color: var(--text-link-200);
}
body.dark-theme main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link:hover {
  color: var(--text-link-400);
}
body.dark-theme main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link.active {
  color: var(--text-link-800);
}
body.dark-theme main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link:active {
  color: var(--text-link-800);
}
body.dark-theme main section#contact .section-body .container form input,
body.dark-theme main section#contact .section-body .container form textarea {
  background: var(--background-primary-450);
  color: var(--text-primary-200);
}
body.dark-theme main section#contact .section-body .container form input::placeholder,
body.dark-theme main section#contact .section-body .container form textarea::placeholder {
  color: var(--text-primary-200);
}
body.dark-theme main section#contact .section-body .container form input:focus-visible,
body.dark-theme main section#contact .section-body .container form textarea:focus-visible {
  outline: var(--color-neutral-100) auto 1px;
}
body.dark-theme main section#contact .section-body .container form button {
  color: var(--cta-text-primary-100);
  border: 2px solid var(--cta-background);
}
body.dark-theme main section#contact .section-body .container form button:hover {
  background-color: var(--cta-hover-background);
}
body.dark-theme main section#contact .section-body .container form button:active {
  background-color: var(--cta-active-background);
}
body.dark-theme main section#contact .section-body .container .contact-list .contact-list-item .contact-link {
  color: var(--text-link-400);
}
body.dark-theme main section#contact .section-body .container .contact-list .contact-list-item .contact-link:hover {
  color: var(--text-link-800);
}
body.dark-theme main section#contact .section-body .container .contact-list .contact-list-item .contact-link:active {
  color: var(--text-link-200);
}
body.dark-theme main section#contact .section-body .container .social-media-list .social-media-list-item .social-media-link {
  color: var(--text-link-400);
}
body.dark-theme main section#contact .section-body .container .social-media-list .social-media-list-item .social-media-link:hover {
  color: var(--text-link-800);
}
body.dark-theme main section#contact .section-body .container .social-media-list .social-media-list-item .social-media-link:hover {
  color: var(--text-link-200);
}
body.dark-theme footer {
  border-top: 1px solid var(--background-primary-100);
}
body.dark-theme footer .footer-nav {
  color: inherit;
}
body.dark-theme footer .footer-nav .nav-list .nav-list-item .nav-link {
  color: var(--text-link-400);
}
body.dark-theme footer .footer-nav .nav-list .nav-list-item .nav-link:hover {
  color: var(--text-link-800);
}
body.dark-theme footer .footer-nav .nav-list .nav-list-item .nav-link:active {
  color: var(--text-link-200);
}

header {
  background: linear-gradient(45deg, rgba(160, 0, 64, 0.8), rgba(0, 0, 160, 0.8));
  backdrop-filter: blur(40px);
  width: 100%;
  position: relative;
  z-index: 2;
}
header .utility {
  height: 40px;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
header .utility .clock {
  color: var(--text-primary-200);
  border-radius: 6px;
  text-align: center;
}
header .utility .theme-toggler {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .utility .theme-toggler #theme-slider {
  background: linear-gradient(45deg, hsl(80, 30%, 60%), hsl(0, 0%, 90%));
  width: 45px;
  height: 24px;
  background-size: cover;
  color: var(--color-black);
  border: 0.5px solid var(--color-white);
  border-radius: 100vmax;
  transition: 0.5s;
  appearance: unset;
}
header .utility .theme-toggler #theme-slider:not(.dark):after {
  content: "☀";
  color: #FFFF00;
  position: absolute;
  right: 4px;
}
header .utility .theme-toggler #theme-slider.dark {
  background: linear-gradient(45deg, hsl(226, 80%, 10%), hsl(0, 0%, 40%));
  color: var(--color-black);
  border: 0.5px solid var(--color-white);
}
header .utility .theme-toggler #theme-slider.dark::before {
  content: "🌙";
  position: relative;
  top: -5%;
  left: 4px;
}
header .utility .theme-toggler input[type=checkbox] {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
header nav {
  background: var(--nav-background);
  height: 60px;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}
header nav .nav-list .nav-list-item .nav-link {
  text-decoration: none;
}
header nav .brand .brand-link {
  background: linear-gradient(45deg, #04F, #0F4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: var(--font-weight-semibold);
}
header nav .cta .cta-button {
  background: var(--cta-background);
  color: var(--cta-text-primary-200);
  padding: 0.25em 1em;
  border: 2px solid var(--cta-background);
  border-radius: 100vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
header nav .cta .cta-button:hover {
  background-color: var(--cta-hover-background);
}
header nav .cta .cta-button:active {
  background-color: var(--cta-active-background);
}
header nav .navbar-toggler {
  width: 2em;
  display: none;
  cursor: pointer;
  transform-origin: 0 100%;
}
header nav .navbar-toggler span {
  background: var(--color-neutral-200);
  width: 4px;
  height: 4px;
  margin: 5px;
  display: block;
  border-radius: 6px;
}
header nav .navbar-toggler.show span {
  width: 100%;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}
main .section-nav {
  width: 8em;
  background: var(--background-primary-900);
  padding: 1em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: fixed;
  top: 20%;
  right: -8em;
  z-index: 4;
}
main .section-nav #section-nav-toggler {
  background: var(--background-primary-900);
  color: var(--color-neutral-200);
  padding: 10px;
  border: 0;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -20px;
}
main .section-nav #section-nav-toggler:hover {
  background: var(--background-primary-200);
  color: var(--color-neutral-900);
}
main .section-nav .section-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}
main .section-nav .section-nav-list .section-nav-list-item {
  flex: 1;
}
main .section-nav .section-nav-list .section-nav-list-item .section-nav-header {
  font-size: 62%;
  text-align: center;
}
main .section-nav .section-nav-list .section-nav-list-item .section-nav-link {
  color: var(--text-link-white);
  font-size: 80%;
  text-decoration: none;
}
main .section-nav .section-nav-list .section-nav-list-item .section-nav-link .section-nav-link-icon {
  width: 40px;
}
main .section-nav .section-nav-list .section-nav-list-item .section-nav-link:hover {
  color: var(--text-link-200);
}
main .section-nav .section-nav-list .section-nav-list-item .section-nav-link:active {
  color: var(--text-link-800);
}
main .section-nav .section-nav-list .section-nav-list-item .section-nav-link.active {
  color: var(--text-link-800);
}
main .section-nav.show {
  right: 0;
}
main .section-nav.show #section-nav-toggler {
  content: "&gt";
}
main section {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main section .section-heading {
  margin: 0 auto;
  text-align: center;
}
main section .section-heading h2 {
  margin: 1em 0;
}
main section .section-body {
  padding: 2em 2em;
}
main section#hero {
  background: url("../img/drawable/fotor-ai1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 600px;
  height: 100vh;
}
main section#hero .section-body {
  width: 100%;
  height: 100%;
  padding: 0;
}
main section#hero .section-body .herousel {
  backdrop-filter: blur(40px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#hero .section-body .herousel .herousel-list {
  height: 100%;
  padding: 0 4em;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section#hero .section-body .herousel .herousel-list .herousel-list-item {
  display: none;
}
main section#hero .section-body .herousel .herousel-list .herousel-list-item .copytext {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
main section#hero .section-body .herousel .herousel-list .herousel-list-item .copytext .hero-headline {
  width: 100%;
  font-size: clamp(1em, 4vw, 2em);
  text-align: center;
}
main section#hero .section-body .herousel .herousel-list .herousel-list-item .copytext .hero-description {
  width: 100%;
  font-size: clamp(0.4em, 4vw, 1em);
  text-align: center;
}
main section#hero .section-body .herousel .herousel-list .herousel-list-item .copytext .cta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
main section#hero .section-body .herousel .herousel-list .herousel-list-item .copytext .cta .cta-button {
  width: 100%;
  max-width: 200px;
  padding: 1em;
  border-radius: 100vmax;
  font-size: clamp(6px, 1rem, 32px);
  display: block;
  white-space: normal;
  text-decoration: none;
  text-align: center;
}
main section#hero .section-body .herousel .herousel-list .herousel-list-item.active {
  display: block;
}
main section#hero .section-body .herousel .herousel-indicator-list {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  position: absolute;
  bottom: 1em;
}
main section#hero .section-body .herousel .herousel-indicator-list .herousel-indicator-list-item {
  flex: 1;
}
main section#hero .section-body .herousel .herousel-indicator-list .herousel-indicator-list-item span {
  background: var(--color-neutral-450);
  width: 100%;
  height: 4px;
  border-radius: 6px;
  display: block;
  cursor: pointer;
}
main section#hero .section-body .herousel .herousel-indicator-list .herousel-indicator-list-item span:hover {
  background: var(--color-neutral-200);
}
main section#hero .section-body .herousel .herousel-indicator-list .herousel-indicator-list-item.active span {
  background: var(--color-neutral-200);
}
main section#hero .section-body .herousel .herousel-navigation #herousel-previous-button,
main section#hero .section-body .herousel .herousel-navigation #herousel-next-button {
  background: rgba(255, 250, 250, 0.4);
  backdrop-filter: blur(1em);
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 100vmax;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
main section#hero .section-body .herousel .herousel-navigation #herousel-previous-button {
  left: 1em;
}
main section#hero .section-body .herousel .herousel-navigation #herousel-next-button {
  right: 1em;
}
main section#about {
  background: url("../img/drawable/fotor-ai4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}
main section#about .container {
  backdrop-filter: blur(40px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section#about .section-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main section#about .section-body .me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
main section#about .section-body .me .cta a {
  color: var(--text-link-400);
  text-decoration: none;
  display: inline;
  cursor: pointer;
}
main section#about .section-body .me .cta:hover a {
  color: var(--text-link-800);
}
main section#about .section-body .picture-of-me {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
main section#about .section-body .picture-of-me .picture-frame {
  border: 4px dashed var(--color-accent-400);
  border-radius: 8px;
  position: relative;
}
main section#about .section-body .picture-of-me img {
  max-width: 240px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 64, 0.8);
  position: relative;
  top: -8px;
  left: -8px;
}
main section#feature {
  background: url("../img/drawable/fotor-ai6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main section#feature .container {
  background: rgba(0, 0, 64, 0.1);
  backdrop-filter: blur(40px);
}
main section#feature .section-body .feature-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}
main section#feature .section-body .feature-list .feature-list-item {
  min-width: 400px;
  flex: 1;
}
main section#feature .section-body .feature-list .feature-list-item .card {
  background: rgba(0, 0, 64, 0.4);
  backdrop-filter: blur(40px);
  color: var(--text-primary-200);
  height: 400px;
  text-align: center;
}
main section#feature .section-body .feature-list .feature-list-item .card .card-header {
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main section#feature .section-body .feature-list .feature-list-item .card .card-header .card-header-image {
  height: 200px;
}
main section#feature .section-body .feature-list .feature-list-item .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
main section#feature .section-body .feature-list .feature-list-item .card .card-body .card-cta-link {
  color: var(--text-link-200);
}
main section#feature .section-body .feature-list .feature-list-item .card .card-body .card-cta-link:hover {
  color: var(--text-link-800);
}
main section#feature .section-body .feature-list .feature-list-item .card .card-body .card-cta-link:active {
  color: var(--text-link-400);
}
main section#service .container {
  backdrop-filter: blur(40px);
}
main section#service .section-body .role {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  text-align: center;
}
main section#service .section-body .role .card.as-frontend,
main section#service .section-body .role .card.as-backend {
  background: rgba(0, 0, 64, 0.4);
  max-width: 280px;
  width: 50%;
  padding: 0;
  cursor: pointer;
  position: relative;
}
main section#service .section-body .role .card.as-frontend img,
main section#service .section-body .role .card.as-backend img {
  width: 100%;
  filter: blur(4px);
}
main section#service .section-body .role .card.as-frontend p,
main section#service .section-body .role .card.as-backend p {
  color: var(--text-primary-200);
  width: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  top: 40%;
  text-align: center;
}
main section#service .section-body .role .card.as-frontend:hover,
main section#service .section-body .role .card.as-backend:hover,
main section#service .section-body .role .card.as-frontend.active,
main section#service .section-body .role .card.as-backend.active {
  border: 1px solid snow;
  box-shadow: 1px 1px 1em 4px snow;
}
main section#service .section-body .service-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  text-align: center;
}
main section#service .section-body .service-container h3 {
  margin: 1em auto;
}
main section#service .section-body .service-container .tech-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
main section#service .section-body .service-container .tech-stack .tech-stack-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
}
main section#service .section-body .service-container .tech-stack .tech-stack-list .tech-stack-list-item {
  flex: 1;
}
main section#service .section-body .service-container .tech-stack .tech-stack-list .tech-stack-list-item img {
  max-height: 80px;
  max-width: 80px;
  width: 100%;
}
main section#service .section-body .service-container .tech-stack .tech-stack-list .tech-stack-list-item:first-child {
  width: max-content;
}
main section#service .section-body .service-container .service-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  place-items: stretch;
  gap: 2em;
}
main section#service .section-body .service-container .service-list .service-list-item .card {
  background: rgba(0, 0, 64, 0.1);
  backdrop-filter: blur(40px);
  height: 100%;
}
main section#service .section-body .service-container .service-list .service-list-item .card .card-header {
  max-height: 200px;
}
main section#service .section-body .service-container .service-list .service-list-item .card .card-header .card-image {
  height: 100%;
}
main section#service .section-body .service-container .service-list .service-list-item .card .card-body .service-title {
  max-height: 4.4em;
  font-weight: var(--font-weight-semibold);
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
main section#portfolio .section-body .project-category-navigation {
  padding: 1em 1em;
}
main section#portfolio .section-body .project-category-navigation .project-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link {
  color: var(--text-link-200);
  text-decoration: none;
}
main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link:hover {
  color: var(--text-link-400);
}
main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link.active {
  color: var(--text-link-800);
}
main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link:active {
  color: var(--text-link-800);
}
main section#portfolio .section-body .portfolio-container .project-carousel {
  margin: 1em 0;
}
main section#portfolio .section-body .portfolio-container .project-carousel .project-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
main section#portfolio .section-body .portfolio-container .project-carousel .project-list .project-list-item {
  flex: 1;
  border-radius: 6px;
  overflow: hidden;
}
main section#portfolio .section-body .portfolio-container .project-carousel .project-list .project-list-item:nth-child(2) {
  flex: 2;
}
main section#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#contact .container {
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#contact .section-body {
  width: 100%;
}
main section#contact .section-body .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#contact .section-body .contact-container form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#contact .section-body .contact-container form input,
main section#contact .section-body .contact-container form textarea {
  background: var(--background-primary-450);
  color: var(--text-primary-200);
  width: 100%;
  padding: 1em;
  border: 0;
  border-radius: 6px;
  resize: none;
}
main section#contact .section-body .contact-container form input::placeholder,
main section#contact .section-body .contact-container form textarea::placeholder {
  color: var(--text-primary-450);
}
main section#contact .section-body .contact-container form input:focus-visible,
main section#contact .section-body .contact-container form textarea:focus-visible {
  outline: var(--color-neutral-200) auto 1px;
}
main section#contact .section-body .contact-container form textarea {
  min-height: 200px;
}
main section#contact .section-body .contact-container form button {
  background: var(--cta-background);
  color: var(--text-primary-900);
  padding: 1em 2em;
  border: 2px solid var(--cta-background);
  border-radius: 100vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
main section#contact .section-body .contact-container form button:hover {
  background-color: var(--cta-hover-background);
}
main section#contact .section-body .contact-container form button:active {
  background-color: var(--cta-active-background);
}
main section#contact .section-body .contact-container .contact-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
main section#contact .section-body .contact-container .contact-list .contact-list-item {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
main section#contact .section-body .contact-container .contact-list .contact-list-item img {
  margin: 0 auto;
  width: 40px;
}
main section#contact .section-body .contact-container .contact-list .contact-list-item .contact-link {
  color: var(--text-link-400);
  text-decoration: none;
}
main section#contact .section-body .contact-container .contact-list .contact-list-item .contact-link:hover {
  color: var(--text-link-800);
}
main section#contact .section-body .contact-container .contact-list .contact-list-item .contact-link:active {
  color: var(--text-link-200);
}
main section#contact .section-body .contact-container .social-media-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
main section#contact .section-body .contact-container .social-media-list .social-media-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
main section#contact .section-body .contact-container .social-media-list .social-media-list-item .social-media-link {
  color: var(--text-link-400);
  text-decoration: none;
}
main section#contact .section-body .contact-container .social-media-list .social-media-list-item .social-media-link img {
  width: 40px;
}
main section#contact .section-body .contact-container .social-media-list .social-media-list-item .social-media-link:hover {
  color: var(--text-link-800);
}
main section#contact .section-body .contact-container .social-media-list .social-media-list-item .social-media-link:hover {
  color: var(--text-link-200);
}

main#product-pages section#product .container {
  background: rgba(40, 40, 40, 0.8);
  backdrop-filter: blur(40px);
}
main#product-pages section#product .section-body {
  width: 100%;
}
main#product-pages section#product .section-body .product-list {
  width: 100%;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  list-style: none;
}
main#product-pages section#product .section-body .product-list .product-list-item .card {
  background: rgba(0, 0, 64, 0.4);
  color: snow;
  box-shadow: 4px 4px 4px 4px rgba(0, 150, 255, 0.4);
}
main#product-pages section#product .section-body .product-list .product-list-item .card .card-header {
  background: blue;
  height: 160px;
}
main#product-pages section#product .section-body .product-list .product-list-item .card .card-body {
  height: 80px;
  padding: 1em;
}
main#product-pages section#product .section-body .product-pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}
main#product-pages section#product .section-body .product-pagination-list .product-pagination-link {
  color: var(--text-link-white);
  text-decoration: none;
}
main#product-pages section#product .section-body .product-pagination-list .product-pagination-link:hover {
  color: var(--text-link-200);
}
main#product-pages section#product .section-body .product-pagination-list .product-pagination-link:active {
  color: var(--text-link-800);
}
main#product-pages section#product .section-body .product-pagination-list .product-pagination-link.active {
  color: var(--text-link-800);
}

main#service-page section#service .container {
  background: rgba(40, 40, 40, 0.8);
  backdrop-filter: blur(40px);
}
main#service-page section#service .section-body {
  width: 100%;
}
main#service-page section#service .section-body .service-list {
  width: 100%;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  list-style: none;
}
main#service-page section#service .section-body .service-list .service-list-item .card {
  background: rgba(0, 0, 64, 0.4);
  color: snow;
  box-shadow: 4px 4px 4px 4px rgba(0, 150, 255, 0.4);
}
main#service-page section#service .section-body .service-list .service-list-item .card .card-header {
  background: blue;
  height: 160px;
}
main#service-page section#service .section-body .service-list .service-list-item .card .card-body {
  height: 80px;
  padding: 1em;
}
main#service-page section#service .section-body .service-pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}
main#service-page section#service .section-body .service-pagination-list .service-pagination-link {
  color: var(--text-link-white);
  text-decoration: none;
}
main#service-page section#service .section-body .service-pagination-list .service-pagination-link:hover {
  color: var(--text-link-200);
}
main#service-page section#service .section-body .service-pagination-list .service-pagination-link:active {
  color: var(--text-link-800);
}
main#service-page section#service .section-body .service-pagination-list .service-pagination-link.active {
  color: var(--text-link-800);
}

footer {
  backdrop-filter: blur(40px);
  padding: 2em;
  border-top: 1px solid var(--background-primary-900);
}
footer .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-primary-900);
}
footer .footer-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
footer .footer-nav .nav-list .nav-list-item .nav-link {
  color: var(--text-link-450);
  text-decoration: none;
}
footer .footer-nav .nav-list .nav-list-item .nav-link:hover {
  color: var(--text-link-900);
}
footer .footer-nav .nav-list .nav-list-item .nav-link:active {
  color: var(--text-link-200);
}

/* Extra extra small device*/
@media only screen and (max-width: 480px) {
  header .utility {
    height: max-content;
    flex-direction: column-reverse;
  }
  header nav {
    height: max-content;
    flex-direction: column;
  }
  main section .section-body {
    padding: 0;
  }
  main section#about .section-body .picture-of-me img {
    max-width: 120px;
  }
  main section#feature .section-body .feature-list .feature-list-item {
    min-width: unset;
    max-width: 16em;
    width: 100%;
  }
  main section#feature .section-body .feature-list .feature-list-item .card {
    height: unset;
  }
  main section#service .section-body .service-container .service-list#service-list {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .footer-nav {
    flex-direction: column;
  }
  footer .footer-nav .nav-list {
    flex-direction: column;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page-wrapper {
    max-width: 600px;
  }
  main section .section-body {
    padding: 1em;
  }
  main section#hero {
    height: 400px;
  }
  main section#hero .section-body .herousel .herousel-list {
    padding: 0 1em;
  }
  main section#hero .section-body .herousel .herousel-navigation {
    position: relative;
    bottom: 4em;
  }
  main section#hero .section-body .herousel .herousel-navigation #herousel-previous-button,
  main section#hero .section-body .herousel .herousel-navigation #herousel-next-button {
    position: relative;
  }
  main section#hero .section-body .herousel .herousel-navigation #herousel-previous-button {
    left: 0;
  }
  main section#hero .section-body .herousel .herousel-navigation #herousel-next-button {
    right: 0;
  }
  main section#about .section-body {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  main section#about .section-body .picture-of-me {
    justify-content: center;
  }
  main section#feature .section-body {
    padding: 0;
  }
  main section#feature .section-body .feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  main section#feature .section-body .feature-list .feature-list-item {
    grid-template-columns: 1fr;
  }
  main section#service .section-body .service-container .service-list {
    grid-template-columns: repeat(2, 1fr);
  }
  main section#contact {
    padding: 0;
  }
  main section#contact .section-body {
    padding: 0;
  }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  main section#contact {
    padding: 0;
  }
  main section#contact .section-body {
    padding: 0;
  }
  main section#contact .section-body .contact-container .contact-list {
    grid-template-columns: 1fr;
  }
  footer .footer-nav {
    flex-direction: column;
    gap: 2em;
  }
  footer .footer-nav .copyright {
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  header nav {
    position: relative;
  }
  header nav .nav-list {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(40px);
    height: 0px;
    padding: 1em;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }
  header nav .nav-list.show {
    min-height: calc(100vh - 100px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }
  header nav .cta {
    display: none;
  }
  header nav .navbar-toggler {
    display: block;
  }
  main section#hero {
    margin-top: 0px;
  }
  main section#service .section-body .service-container .service-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page-wrapper {
    max-width: 600px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page-wrapper {
    max-width: 800px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page-wrapper {
    max-width: 1140px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page-wrapper {
    max-width: 1600px;
  }
  main .section-nav {
    width: 16%;
    right: -16%;
  }
}
body {
  background: var(--body-background);
  color: var(--text-primary-900);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}

.page-wrapper {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  box-shadow: 4px 4px 1em 1em rgba(0, 150, 255, 0.4);
}/*# sourceMappingURL=app.css.map */