main#product-pages{
    section#product {

        .container{
            background: rgba(40, 40, 40, 0.8);
            backdrop-filter: blur(40px);
        }
    
        .section-body {
            width: 100%;
    
            .product-list {
                width: 100%;
                margin-bottom: 2em;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: 1fr;
                gap: 1em;
                list-style: none;
    
                .product-list-item {
                    
                    .card {
                        background: rgba(0, 0, 64, 0.4);
                        color: snow;
                        box-shadow: 4px 4px 4px 4px rgba(0, 150, 255, 0.4);
    
                        .card-header{
                            background: blue;
                            height: 160px;
                        }
    
                        .card-body{
                            height: 80px;
                            padding: 1em;
                        }
    
                    }
    
                }
    
            }
    
            .product-pagination-list{
                @include d-flex(center, center, row);
                gap: 1em;
                list-style: none;
    
                .product-pagination-link {
                    color: var(--text-link-white);
                    text-decoration: none;
                }
    
                .product-pagination-link:hover {
                    color: var(--text-link-200);
                }
    
                .product-pagination-link:active {
                    color: var(--text-link-800);
                }
    
                .product-pagination-link.active {
                    color: var(--text-link-800);
                }
    
            }
    
        }
    
    }
}